build:
  publish: public
  functions: functions

  lifecycle:
    init:
      - echo "Starting the build"
    build:
      - echo "hello world"
    finally:
      - echo "Ending the build"

plugins:
  - type: ./plugins/debug
